@charset 'UTF-8';

* {
	margin:0;
	padding:0;
	font-size: 13px;
	font-family:"SimSun","宋体","Arial Narrow";
}
a {
	color:#3A66B0;
	text-decoration:none;
}
a:hover{
	color : #670768;
}
img {
	border:none;
}
ul {
	list-style:none;
}
table {
	border-collapse:collapse;
}
iframe {
	border:0;
	width:100%;
	height:100%;
}
input {
	border:1px solid #ccc;
	height:16px;
	line-height:16px;
	padding:5px;
	border-radius: 4px;
}
textarea {
	border:1px solid #ccc;
	padding:5px;
	border-radius: 4px;
}
select {
	border: 1px solid #ccc;
	padding: 4px 5px;
	height : 28px;
	line-height : 28px;
	border-radius: 4px;
}
select option {
	height : 24px;
	padding : 2px;
}
.status {
	width:98%;
	height:26px;
	margin: 10px auto;
	border-bottom: 2px solid #29aafc;
	border-radius: 0 0 0 8px;
}
.status span {
	display : block;
	width:116px;
	height:26px;
	line-height: 26px;
	color:#fff;
	font-weight: bold;
	background: #a266ec;
	border-left:2px solid #29aafc;
	border-radius: 0 8px 0 6px;
	text-align: center;
	float: left;
}
.add {
	width : 100px;
	height : 26px;
	line-height : 26px;
	text-indent: 32px;
	color : #670768;
	float: left;
	margin : 0 10px;
	cursor: pointer;
	background : url(../Images/addBtn.png) no-repeat;
}
.add_cur {
	background-position: 0 -26px;
}
.table {
	width:98%;
	height:auto;
	margin: 0 auto;
	margin-bottom: 10px;
	color:#444444;
}
.table th {
	color:#3A66B0;
	height:20px;
	line-height : 20px;
	background:#E6E6FA;
}
.table th,td {
	padding:5px 10px;
	border:1px solid #ccc;
}
.table tr .operation a{
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 6px;
	padding : 5px 10px;
	margin: 0 5px;
} 
.hidden {
	display: none;
}
.see {
	display: inline-block;
	width:61px;
	height:26px;
	margin:0 2px;
	background:url(../Images/btn.png) no-repeat 0 0;
	border: none;
	cursor: pointer;
}
.add-cld {
	display: inline-block;
	width:80px;
	height:26px;
	margin:0 2px;
	background:url(../Images/add-cld.png) no-repeat 0 0;	
}
.big-btn {
	width : 184px;
	height : 46px;
	line-height : 46px;
	font-size: 16px;
	font-weight: bold;
	color : #FFFFFF;
	display: block;
	margin: 20px auto;
	background : url(../Images/big-btn.png) no-repeat;
	cursor: pointer;
}
.edit {
	display: inline-block;
	width:61px;
	height:26px;
	margin:0 2px;
	background:url(../Images/btn.png) no-repeat 0 -26px;
}
.del {
	display: inline-block;
	width:61px;
	height:26px;
	margin:0 2px;
	background:url(../Images/btn.png) no-repeat 0 -52px;
}
.up {
	background: url(../Images/up.png) no-repeat 0px 16px;
}
.down {
	background: url(../Images/down.png) no-repeat 0px 16px;
}
.cur_list {
	background:url(../Images/list.png) no-repeat 0 7px #f6f6f6;
}
.red {
	color : #f00;
}
.input-mini {
	width:30px;
}
.input-medium {
	width:80px;
}
.input-big {
	width:280px;
}
.input-long {
	width : 400px;
}
.radio {
	height:auto;
}
/*CSS3 INPUT获取焦点时效果*/
textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}