<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>微博用户列表</title>
	<link rel="stylesheet" href="__PUBLIC__/Css/common.css" />
	<script type="text/javascript" src='__PUBLIC__/Js/jquery-1.8.2.min.js'></script>
	<script type="text/javascript" src='__PUBLIC__/Js/common.js'></script>
</head>
<body>
	<div class='status'>
		<span>评论列表</span>
	</div>
	<table class="table">
		<tr>
			<th>ID</th>
			<th>评论内容</th>
			<th>评论用户</th>
			<th>评论时间</th>
			<th>操作</th>
		</tr>
		<foreach  name='comment' item='v'>
			<tr>
				<td width='50' align='center'>{$v.id}</td>
				<td>{$v.content}</td>
				<td width='100'>{$v.username}</td>
				<td width='100' align='center'>{$v.time|date='y-m-d H:i', ###}</td>
				<td width='60'>
					<a href="{:U('delComment', array('id' => $v['id'], 'wid' => $v['wid']))}" class='del'></a>
				</td>
			</tr>
		</foreach>
		<tr>
			<td colspan='5' align='center' height='60'>{$page}</td>
		</tr>
	</table>
</body>
</html>