
/**个人信息**/
#userinfo {
	width :980px;
	height: 240px;
	padding-top: 200px;
	margin: 0 auto;
	background: url(../Images/user_bg.jpg) no-repeat #fff;
}
#userinfo .info-list {
	width: 940px;
	height: 230px;
	padding: 0 20px 10px 20px;
}
#userinfo .info-list .info-face {
	width: 198px;
	height: 228px;
	border: 1px solid #D7EEFB;
	float: left
}
#userinfo .info-list .info-face p{
	width: 180px;
	height: 180px;
	padding: 4px 9px;
	background: #fff;
}
#userinfo .info-list .info-face ul li {
	float: left;
	padding: 0 18px;
	text-align: center;
}
#userinfo .info-list .info-face ul li strong {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #80808B;
}
#userinfo .info-list .uinfo {
	width: 720px;
	margin-top: 100px;
	margin-left: 20px;
	float: left;
}
#userinfo .info-list .uinfo .full {
	width: 710;
	height: 20px;
	padding: 5px;
}
#userinfo .info-list .uinfo .ulist li {
	float: left;
}
#userinfo .info-list .uinfo .uname {
	height: 34px;
	line-height: 34px;
	font-size: 26px;
	font-weight: bold;
}
#userinfo .info-list .uinfo .uintro {
	font-size: 14px;
	color: #808086;
}
#userinfo .info-list .uinfo .ulist li{
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px solid #D7EEFB;
}
#userinfo .info-list .uinfo .ulist .nobr {
	border: none;
}
#userinfo .info-list .uinfo .uedit {
	width: 88px;
	height: 14px;
	line-height: 14px;
	border-radius: 4px;
	background: #FAFAFA;
	border: 1px solid #F0F0F0;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
}
.main{
	border-top: 1px solid #D7EEFB;
	background: #FAFAFA;
}
/**发布**/
#middle{
	width:560px;
	padding:30px 20px;
	height:auto;
	overflow: hidden;
	background: #FAFAFA;
	float: left;
}
#middle .send_wrap{
	width:560px;
	height:auto;
	position:relative;
}
#middle .send_wrap .send_title{
	width:200px;
	height:22px;
	background: url(../Images/send_weibo.png) no-repeat;
}
#middle .send_wrap .send_prompt{
	width:360px;
	height:22px;
	line-height: 22px;
	text-align: right;
}
#middle .send_wrap .send_prompt span{
	color:#888888;
}
#send_num{
	font-family: Constantia,Georgia;
    font-size: 22px;
    font-style: italic;
    font-weight: 700;
}
#middle .send_wrap textarea{
	width:548px;
	height:75px;
	border:1px solid #ccc;
	border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    margin: 1px 0 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    word-wrap: break-word;
    resize:none;
    margin-top:15px;
}
#middle .send_wrap .ta_right{
	display:block;
	width:12px;
	width:12px;
	height:19px;
	background: url(../Images/send_weibo.png) no-repeat 0 -69px;
	position:absolute;
	top:60px;
	left:559px;
}
#middle .send_wrap .send_tool{
	height:30px;
	margin-top:5px;
}
#middle .send_wrap .send_tool ul{
	width:466px;
	height:23px;
	padding-top:7px;
}
#middle .send_wrap .send_tool ul li{
	float: left;
	margin-right:10px;
	position: relative;
}
#middle .send_wrap .send_tool #upload_img{
	width:300px;
	height:140px;
	border: 2px solid #E1E1E1;
	background: #fff;
	position: absolute;
	top:25px;
	left:0px;
}
#middle .send_wrap .send_tool #upload_img div{
	width:300px;
	height:30px;
	border-bottom: 1px solid #E1E1E1;
	background:#FAFAFA;
}
#middle .send_wrap .send_tool #upload_img div p{
	width:100px;
	height:30px;
	line-height:30px;
	float: left;
	font-weight: bold;
	color:#888888;
	text-indent: 1em;
}
#middle .send_wrap .send_tool #upload_img div span{
	display: block;
	width:16px;
	height:16px;
	background:url(../Images/icon.png) no-repeat -75px -200px;
	float: right;
	margin: 7px 5px;
	cursor: pointer;
}
#middle .send_wrap .send_tool .send_btn{
	width:82px;
	height:30px;
	border:0;
	background: url(../Images/send_weibo.png) no-repeat -50px -50px;
	cursor: pointer;
}

/**展示**/
#middle .view_line{
	width:560px;
	height:30px;
	background:url(../Images/line.png) repeat-x 0 28px;
	margin-bottom: 20px;
}
#middle .view_line strong{
	display:inline-block;
	width:44px;
	height:30px;
	line-height:30px;
	text-align: center;
	background: url(../Images/line.png) no-repeat 0 -45px #FAFAFA;
	margin-left: 10px;
}
#middle .weibo{
	width:560px;
	height:auto;
	overflow: hidden;
	border-bottom:1px solid #E6E6E6;
	padding:20px 0;
}
#middle .weibo .wb_cons{
	width:560px;
}
#middle .weibo dl .wb_name{
	width:560px;
	height:20px;
}
#middle .weibo dl dt a{
	color:#333333;
	font-weight: bold;
}
#middle .weibo dl dt a:hover{
	color:#2B96E1;
}
#middle .weibo .content p{
	width:560px;
	line-height: 24px;
	height:auto;
	word-wrap: break-word;
}
#middle .weibo .wb_img{
	width:560px;
	height:auto;
	margin:10px 0;
}
#middle .weibo .wb_img .mini_img{
	cursor: url(../Images/big.cur), auto !important;
}
#middle .weibo .wb_img .img_tool{
	width:448px;
	height:auto;
	border:1px solid #D7EEFB;
	border-radius: 3px;
	padding:10px 20px;
}
#middle .weibo .wb_img .img_tool ul li{
	padding:5px;
	float: left;
}
#middle .weibo .wb_img .img_tool ul li .packup{
	color:#2B96E1;
	cursor: pointer;
}
#middle .weibo .wb_img .img_tool ul li a{
	color:#2B96E1;
}
#middle .weibo .wb_img .img_info{
	width:518px;
	height:auto;
	overflow: hidden;
}
#middle .weibo .wb_img .img_info img{
	display:block;
	margin:0 auto;
	cursor: url(../Images/small.cur), auto !important;
}
#middle .weibo .wb_tool{
	width:560px;
	height:24px;
	line-height:24px;
}
#middle .weibo .wb_tool .send_time{
	color:#75BAE4;
	float: left;
}
#middle .weibo .wb_tool ul{
	height:24px;
	float: right;
}
#middle .weibo .wb_tool ul li{
	padding: 0 5px;
	float:left;
}
#middle .weibo .wb_tool ul li span{
	color:#2B96E1;
	cursor: pointer;
}
#middle .weibo .comment_load{
	width:558px;
	height:60px;
	line-height:60px;
	text-align: center;
	border:1px solid #D7EEFB;
	border-radius: 3px;
}
#middle .weibo .comment_list{
	width:518px;
	height:auto;
	border:1px solid #D7EEFB;
	border-radius: 3px;
	padding:10px 20px;
}
#middle .weibo .comment_list textarea{
	width:508px;
	height: 18px;
    line-height: 18px;
    padding: 5px 4px;
    overflow: hidden;
    resize:none;
	border:1px solid #ccc;
    box-shadow: 1px 1px 1px 0 #EAEAEA inset;
    border-radius: 3px;
    word-wrap: break-word;
}
#middle .weibo .comment_list ul{
	width:518px;
	height:10px;
	padding:10px 0;
}
#middle .weibo .comment_list .phiz{
	width:15px;
	height:15px;
	background:url(../Images/icon.png) no-repeat -250px 0px;
	margin-top:3px;
	cursor: pointer;
	margin-right: 10px;
}
#middle .weibo .comment_list .comment_turn{
	width:160px;
	height:22px;
	line-height:22px;
}
#middle .weibo .comment_list .comment_turn input{
	width:22px;
	height:22px;
	vertical-align: middle;
}
#middle .weibo .comment_list .comment_btn{
	width:50px;
	height:20px;
	line-height: 20px;
	text-align: center;;
	background: #F9AB00;
	color:#fff;
	border:1px solid #FF9B00;
	border-radius: 3px;
	cursor: pointer;
}
#middle .weibo .comment_list .comment_content{
	width:518px;
	height:auto;
	overflow: hidden;
	padding:20px 0 10px 0;
	border-bottom: 1px solid #D7EEFB;
}
#middle .weibo .comment_list .comment_content dt{
	width:30px;
	height:30px;
	float: left;
}
#middle .weibo .comment_list .comment_content dd{
	width:470px;
	height:auto;
	overflow: hidden;
	line-height:20px;
	word-wrap: break-word;
	float: right;
}
#middle .weibo .comment_list .comment_content dd .reply{
	width:470px;
	height:20px;
	padding: 5px 0;
}
#middle .weibo .comment_list .comment_content dd .reply a{
	display: block;
	width:30px;
	height:20px;
	line-height: 20px;
	text-align: center;
	float: right;
}
/*转发样式*/
#middle .weibo .wb_turn{
	width:518px;
	height: auto;
	overflow: hidden;
	border:1px solid #D7EEFB;
	border-radius: 3px;
	padding:15px 20px;
	margin:15px 0;
}
#middle .weibo .wb_turn .turn_name{
	width:518px;
	height:20px;
}
#middle .weibo .wb_turn .turn_cons p{
	width:518px;
	line-height: 24px;
	height:auto;
	word-wrap: break-word;
}
#middle .weibo .wb_turn .turn_img{
	width:518px;
	height:auto;
	margin:10px 0;
}
#middle .weibo .wb_turn .turn_img img{
	cursor: url(../Images/big.cur), auto !important;
}
#middle .weibo .turn_tool{
	width:518px;
	height:24px;
	line-height:24px;
}
#middle .weibo .wb_turn .turn_tool .send_time{
	color:#75BAE4;
	float: left;
}
#middle .weibo .wb_turn .turn_tool ul{
	height:24px;
	float: right;
}
#middle .weibo .wb_turn .turn_tool ul li{
	padding: 0 5px;
	float:left;
}
#middle .weibo .wb_turn .turn_tool ul li a{
	color:#75BAE4;
}
#middle .weibo .turn_img .turn_img_tool{
	width:518px;
	height:auto;
	padding:10px 0;
}
#middle .weibo .turn_img .turn_img_tool ul li{
	padding:5px;
	float: left;
}
#middle .weibo .turn_img .turn_img_tool ul li .packup{
	color:#2B96E1;
	cursor: pointer;
}
#middle .weibo .turn_img .turn_img_tool ul li a{
	color:#2B96E1;
}
#middle .weibo .turn_img .turn_img_info{
	width:518px;
	height:auto;
	overflow: hidden;
}
#middle .weibo .turn_img .turn_img_info img{
	display:block;
	margin:0 auto;
	cursor: url(../Images/small.cur), auto !important;
}

/**********右侧**********/
#right{
	width : 338px;
	height: auto;
	overflow: hidden;
	padding: 20px 10px;
	margin: 30px 10px;
	float: right;
	border: 1px solid #D7EEFB;
}
#right dl {
	width: 338px;
	height: auto;
	overflow: hidden;
	margin-bottom: 30px;
}
#right dl dt {
	width: 328px;
	height: 14px;
	padding: 7px 5px;
	border-bottom: 1px solid #E6E6E6;
}
#right dl dt a {
	float: right;
}
#right dl dd {
	width: 80px;
	padding: 10px 0;
	text-align: center;
	margin-right : 4px;
	float: left;
}
#right dl dd p {
	width: 80px;
	padding: 5px 0;
}
/********************************中部**************************************/