<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>微博用户列表</title>
	<link rel="stylesheet" href="__PUBLIC__/Css/common.css" />
	<script type="text/javascript" src='__PUBLIC__/Js/jquery-1.8.2.min.js'></script>
	<script type="text/javascript" src='__PUBLIC__/Js/common.js'></script>
</head>
<body>
	<div class='status'>
		<span>微博用户检索</span>
	</div>
	<div style='width:600px;text-align:center;margin : 20px auto;'>
		<form action="__SELF__" method='get'>
			检索方式：
			<select name="type">
				<option value="1">用户ID</option>
				<option value="0">用户昵称</option>
			</select>
			<input type="text" name='sech'/>
			<input type="submit" value='' class='see'/>
		</form>
	</div>
	<table class="table">
		<if condition='isset($user) && !$user'>
			<tr>
				<td align='center'>没有检索到相关用户</td>
			</tr>
		<else/>
			<tr>
				<th>ID</th>
				<th>用户昵称</th>
				<th>头像</th>
				<th>关注信息</th>
				<th>注册时间</th>
				<th>账号状态</th>
				<th>操作</th>
			</tr>
			<foreach name='user' item='v'>
				<tr>
					<td>{$v.id}</td>
					<td>{$v.username}</td>
					<td width='80' align='center'>
						<img src="<if condition='$v["face"]'>__ROOT__/Uploads/Face/{$v.face}<else/>__ROOT__/Public/Images/noface.gif</if>" width='50' height='50'/>
					</td>
					<td align='center'>
						<ul>
							<li>关注：{$v.follow}</li>
							<li>粉丝：{$v.fans}</li>
							<li>微博：{$v.weibo}</li>
						</ul>
					</td>
					<td width='100' align='center'>{$v.registime|date='Y-m-d', ###}</td>
					<td width='60' align='center'><if condition='$v["lock"]'>锁定</if></td>
					<td width='100' align='center'>
						<if condition='$v["lock"]'>
							<a href="{:U('lockUser', array('id' => $v['id'], 'lock' => 0))}" class='add lock'>解除锁定</a>
						<else/>
							<a href="{:U('lockUser', array('id' => $v['id'], 'lock' => 1))}" class='add lock'>锁定用户</a>
						</if>
					</td>
				</tr>
			</foreach>
		</if>
	</table>
</body>
</html