<!--==========底部==========-->
    <div id="bottom">
        <div class='link'>
            <dl>
                <dt>后盾网论坛</dt>
                <dd><a href="">后盾网免费视频教程</a></dd>
                <dd><a href="">后盾网免费视频教程</a></dd>
                <dd><a href="">后盾网免费视频教程</a></dd>
            </dl>
            <dl>
                <dt>后盾网论坛</dt>
                <dd><a href="">后盾网免费视频教程</a></dd>
                <dd><a href="">后盾网免费视频教程</a></dd>
                <dd><a href="">后盾网免费视频教程</a></dd>
            </dl>
            <dl>
                <dt>后盾网论坛</dt>
                <dd><a href="">后盾网免费视频教程</a></dd>
                <dd><a href="">后盾网免费视频教程</a></dd>
                <dd><a href="">后盾网免费视频教程</a></dd>
            </dl>
            <dl>
                <dt>后盾网论坛</dt>
                <dd><a href="">后盾网免费视频教程</a></dd>
                <dd><a href="">后盾网免费视频教程</a></dd>
                <dd><a href="">后盾网免费视频教程</a></dd>
            </dl>
            <dl>
                <dt>后盾网论坛</dt>
                <dd><a href="">后盾网免费视频教程</a></dd>
                <dd><a href="">后盾网免费视频教程</a></dd>
                <dd><a href="">后盾网免费视频教程</a></dd>
            </dl>
        </div>
        <div id="copy">
            <div>
                <p>
                    版权所有：后盾网 京ICP备10027771号-1 站长统计 All rights reserved, houdunwang.com services for Beijing 2008-2012 
                </p>
            </div>
        </div>
    </div>
<!--==========自定义模版==========-->
    <div id='model' class='hidden'>
        <div class="model_head">
            <span class="model_text">个性化设置</span>
            <span class="close fright"></span>
        </div>
        <ul>
            <li class='style1'></li>
            <li class='style2'></li>
            <li class='style3'></li>
            <li class='style4'></li>
        </ul>
        <div class='model_operat'>
            <span class='model_save'>保存</span>
            <span class='model_cancel'>取消</span>
        </div>
    </div>
<!--==========自定义模版==========-->

<!--==========转发输入框==========-->
    <div id='turn' class='hidden'>
        <div class="turn_head">
            <span class='turn_text fleft'>转发微博</span>
            <span class="close fright"></span>
        </div>
        <div class="turn_main">
            <form action='{:U("Index/turn")}' method='post' name='turn'>
                <p></p>
                <div class='turn_prompt'>
                    你还可以输入<span id='turn_num'>140</span>个字</span>
                </div>
                <textarea name='content' sign='turn'></textarea>
                <ul>
                    <li class='phiz fleft' sign='turn'></li>
                    <li class='turn_comment fleft'>
                        <label>
                            <input type="checkbox" name='becomment'/>同时评论给<span class='turn-cname'></span>
                        </label>
                    </li>
                    <li class='turn_btn fright'>
                        <input type="hidden" name='id' value=''/>
                        <input type="hidden" name='tid' value=''/>
                        <input type="submit" value='转发' class='turn_btn'/>
                    </li>
                </ul>
            </form>
        </div>
    </div>
<!--==========转发输入框==========-->

<!--==========表情选择框==========-->
    <div id="phiz" class='hidden'>
        <div>
            <p>常用表情</p>
            <span class='close fright'></span>
        </div>
        <ul>
            <li><img src="__PUBLIC__/Images/phiz/hehe.gif" alt="呵呵" title="呵呵" /></li>
            <li><img src="__PUBLIC__/Images/phiz/xixi.gif" alt="嘻嘻" title="嘻嘻" /></li>
            <li><img src="__PUBLIC__/Images/phiz/haha.gif" alt="哈哈" title="哈哈" /></li>
            <li><img src="__PUBLIC__/Images/phiz/keai.gif" alt="可爱" title="可爱" /></li>
            <li><img src="__PUBLIC__/Images/phiz/kelian.gif" alt="可怜" title="可怜" /></li>
            <li><img src="__PUBLIC__/Images/phiz/wabisi.gif" alt="挖鼻屎" title="挖鼻屎" /></li>
            <li><img src="__PUBLIC__/Images/phiz/chijing.gif" alt="吃惊" title="吃惊" /></li>
            <li><img src="__PUBLIC__/Images/phiz/haixiu.gif" alt="害羞" title="害羞" /></li>
            <li><img src="__PUBLIC__/Images/phiz/jiyan.gif" alt="挤眼" title="挤眼" /></li>
            <li><img src="__PUBLIC__/Images/phiz/bizui.gif" alt="闭嘴" title="闭嘴" /></li>
            <li><img src="__PUBLIC__/Images/phiz/bishi.gif" alt="鄙视" title="鄙视" /></li>
            <li><img src="__PUBLIC__/Images/phiz/aini.gif" alt="爱你" title="爱你" /></li>
            <li><img src="__PUBLIC__/Images/phiz/lei.gif" alt="泪" title="泪" /></li>
            <li><img src="__PUBLIC__/Images/phiz/touxiao.gif" alt="偷笑" title="偷笑" /></li>
            <li><img src="__PUBLIC__/Images/phiz/qinqin.gif" alt="亲亲" title="亲亲" /></li>
            <li><img src="__PUBLIC__/Images/phiz/shengbin.gif" alt="生病" title="生病" /></li>
            <li><img src="__PUBLIC__/Images/phiz/taikaixin.gif" alt="太开心" title="太开心" /></li>
            <li><img src="__PUBLIC__/Images/phiz/ldln.gif" alt="懒得理你" title="懒得理你" /></li>
            <li><img src="__PUBLIC__/Images/phiz/youhenhen.gif" alt="右哼哼" title="右哼哼" /></li>
            <li><img src="__PUBLIC__/Images/phiz/zuohenhen.gif" alt="左哼哼" title="左哼哼" /></li>
            <li><img src="__PUBLIC__/Images/phiz/xiu.gif" alt="嘘" title="嘘" /></li>
            <li><img src="__PUBLIC__/Images/phiz/shuai.gif" alt="衰" title="衰" /></li>
            <li><img src="__PUBLIC__/Images/phiz/weiqu.gif" alt="委屈" title="委屈" /></li>
            <li><img src="__PUBLIC__/Images/phiz/tu.gif" alt="吐" title="吐" /></li>
            <li><img src="__PUBLIC__/Images/phiz/dahaqian.gif" alt="打哈欠" title="打哈欠" /></li>
            <li><img src="__PUBLIC__/Images/phiz/baobao.gif" alt="抱抱" title="抱抱" /></li>
            <li><img src="__PUBLIC__/Images/phiz/nu.gif" alt="怒" title="怒" /></li>
            <li><img src="__PUBLIC__/Images/phiz/yiwen.gif" alt="疑问" title="疑问" /></li>
            <li><img src="__PUBLIC__/Images/phiz/canzui.gif" alt="馋嘴" title="馋嘴" /></li>
            <li><img src="__PUBLIC__/Images/phiz/baibai.gif" alt="拜拜" title="拜拜" /></li>
            <li><img src="__PUBLIC__/Images/phiz/sikao.gif" alt="思考" title="思考" /></li>
            <li><img src="__PUBLIC__/Images/phiz/han.gif" alt="汗" title="汗" /></li>
            <li><img src="__PUBLIC__/Images/phiz/kun.gif" alt="困" title="困" /></li>
            <li><img src="__PUBLIC__/Images/phiz/shuijiao.gif" alt="睡觉" title="睡觉" /></li>
            <li><img src="__PUBLIC__/Images/phiz/qian.gif" alt="钱" title="钱" /></li>
            <li><img src="__PUBLIC__/Images/phiz/shiwang.gif" alt="失望" title="失望" /></li>
            <li><img src="__PUBLIC__/Images/phiz/ku.gif" alt="酷" title="酷" /></li>
            <li><img src="__PUBLIC__/Images/phiz/huaxin.gif" alt="花心" title="花心" /></li>
            <li><img src="__PUBLIC__/Images/phiz/heng.gif" alt="哼" title="哼" /></li>
            <li><img src="__PUBLIC__/Images/phiz/guzhang.gif" alt="鼓掌" title="鼓掌" /></li>
            <li><img src="__PUBLIC__/Images/phiz/yun.gif" alt="晕" title="晕" /></li>
            <li><img src="__PUBLIC__/Images/phiz/beishuang.gif" alt="悲伤" title="悲伤" /></li>
            <li><img src="__PUBLIC__/Images/phiz/zuakuang.gif" alt="抓狂" title="抓狂" /></li>
            <li><img src="__PUBLIC__/Images/phiz/heixian.gif" alt="黑线" title="黑线" /></li>
            <li><img src="__PUBLIC__/Images/phiz/yinxian.gif" alt="阴险" title="阴险" /></li>
            <li><img src="__PUBLIC__/Images/phiz/numa.gif" alt="怒骂" title="怒骂" /></li>
            <li><img src="__PUBLIC__/Images/phiz/xin.gif" alt="心" title="心" /></li>
            <li><img src="__PUBLIC__/Images/phiz/shuangxin.gif" alt="伤心" title="伤心" /></li>
        </ul>
    </div>
<!--==========表情==========-->

<!--[if IE 6]>
    <script type="text/javascript" src="__PUBLIC__/Js/DD_belatedPNG_0.0.8a-min.js"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('#top','background');
        DD_belatedPNG.fix('.logo','background');
        DD_belatedPNG.fix('#sech_text','background');
        DD_belatedPNG.fix('#sech_sub','background');
        DD_belatedPNG.fix('.send_title','background');
        DD_belatedPNG.fix('.icon','background');
        DD_belatedPNG.fix('.ta_right','background');
    </script>
<![endif]-->
</body>
</html>