<!--=====左侧=====-->
    <div id="left" class='fleft'>
        <ul class='left_nav'>
            <li><a href="__APP__"><i class='icon icon-home'></i>&nbsp;&nbsp;首页</a></li>
            <li><a href="{:U('User/atme')}"><i class='icon icon-at'></i>&nbsp;&nbsp;提到我的</a></li>
            <li><a href="{:U('User/comment')}"><i class='icon icon-comment'></i>&nbsp;&nbsp;评论</a></li>
            <li><a href="{:U('User/letter')}"><i class='icon icon-letter'></i>&nbsp;&nbsp;私信</a></li>
            <li><a href="{:U('User/keep')}"><i class='icon icon-keep'></i>&nbsp;&nbsp;收藏</a></li>
        </ul>
        <div class="group">
            <fieldset><legend>分组</legend></fieldset>
            <ul>
                <php>
                    $group = M("group")->where(array('uid' => session('uid')))->select();
                </php>
                <li><a href="__APP__"><i class='icon icon-group'></i>&nbsp;&nbsp;全部</a></li>
                <foreach name='group' item='v'>
                    <li>
                        <a href="{:U('Index/index', array('gid' => $v['id']))}"><i class='icon icon-group'></i>&nbsp;&nbsp;{$v.name}</a>
                    </li>
                </foreach>
            </ul>
            <span id='create_group'>创建新分组</span>
        </div>
    </div>
    
    <!--==========创建分组==========-->
    <script type='text/javascript'>
        var addGroup = "{:U('Common:addGroup')}";
    </script>
    <div id='add-group'>
        <div class="group_head">
            <span class='group_text fleft'>创建好友分组</span>
        </div>
        <div class='group-name'>
            <span>分组名称：</span>
            <input type="text" name='name' id='gp-name'>
        </div>
        <div class='gp-btn-wrap'>
            <span class='add-group-sub'>添加</span>
            <span class='group-cencle'>取消</span>
        </div>
    </div>
    <!--==========创建分组==========-->