<include file='Common:header'/>
	<title>{$Think.config.WEBNAME}-关注列表页</title>
	<link rel="stylesheet" href="__PUBLIC__/Theme/{$style}/Css/nav.css" />
	<link rel="stylesheet" href="__PUBLIC__/Theme/{$style}/Css/list.css" />
	<link rel="stylesheet" href="__PUBLIC__/Theme/{$style}/Css/bottom.css" />
	<script type="text/javascript" src='__PUBLIC__/Js/jquery-1.7.2.min.js'></script>
    <script type="text/javascript" src='__PUBLIC__/Js/nav.js'></script>
<!--==========顶部固定导行条==========-->
<include file='Common:nav'/>
<!--==========顶部固定导行条==========-->
<!--==========内容主体==========-->
	<div style='height:60px;opcity:10'></div>
    <div class="main">
    <!--=====左侧=====-->
        <include file='Common:left'/>
    <!--=====右侧=====-->
    	<div id='right'>
    		<p class='total'><if condition='$type'>您关注了{$count}人<else/>已有{$count}人关注了你</if></p>
    		<ul>
            <foreach name='users' item='v'>
    			<li>
					<dl class='list-left'>
						<dt>
							<img src="<if condition='$v["face"]'>__ROOT__/Uploads/Face/{$v.face}<else/>__PUBLIC__/Images/noface.gif</if>" width='50' height='50'/>
						</dt>
						<dd>
							<a href="{:U('/' . $v['uid'])}">{$v.username}</a>
						</dd>
						<dd>
							<i class='icon icon-<if condition="$v['sex'] eq '男'">boy<else/>girl</if>'></i>&nbsp;
							<span>{$v.location}</span>
						</dd>
						<dd>
							<span>关注 <a href="{:U('follow/' . $v['uid'])}">{$v.follow}</a></span>
							<span class='bd-l'>粉丝 <a href="{:U('fans/' . $v['uid'])}">{$v.fans}</a></span>
							<span class='bd-l'>微博 <a href="{:U('/' . $v['uid'])}">{$v.weibo}</a></span>
						</dd>
					</dl>
    				<dl class='list-right'>
    					<if condition='in_array($v["uid"], $follow) && in_array($v["uid"], $fans)'>
                            <dt>互相关注</dt>
                        <elseif condition='in_array($v["uid"], $follow)' />
                            <dt>√&nbsp;已关注</dt>
                        <else/>
                            <dt class='add-fl' uid='{$v.uid}'>+&nbsp;关注</dt>
                        </if>
                        <dd class='del-follow' uid='{$v.uid}' type='{$type}'>移除</dd>
    				</dl>
    			</li>
            </foreach>
    		</ul>
    	</div>
    </div>
<!--==========内容主体结束==========-->
<include file='Common:bottom'/>